.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 1px 4px 90px -25px rgba(0,0,0,0.75);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0 3%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .navbar-brand {
    margin-left: 1rem;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}


.navbar-right {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 25px;  /* added */
}

.navbar-icons{
    display: flex;
    align-items: center;
    gap: 25px; /* Add spacing between icons */
}

.navbar-icons img {
    width: 35px;
    height: 35px;
}

.navbar-menu-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center; /* added*/
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navbar-simple-link {
    text-decoration: none;
    color: black;
    /*margin-right: 10px;*/
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 5px;
    /*font-size: 20px;*/
}

.navbar-simple-link:hover {
    color: #007bff;
    background-color: #f1f1f1;
}

.navbar-profile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-profile-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* CSS for the profile menu */
.navbar-profile-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Align to the right edge of the navbar */
    top: 100%; /* Position below the profile icon */
    text-align: center;
}

.navbar-profile-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-profile-menu a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

/* Mobile menu styles */
.navbar-menu-icon {
    display: none;
    cursor: pointer;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .navbar-left {
        flex: 1;
    }

    .navbar-right {
        flex: 1;
        justify-content: flex-end;
    }

    .navbar-left .navbar-brand {
        font-size: 24px;
    }

    .navbar-right {
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        gap: 10px;
    }

    .navbar-icons {
        gap: 10px;
    }

    .navbar-menu-icon-wrapper,
    .navbar-profile-section {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-links,
    .navbar-profile-menu {
        display: none;
        flex-direction: column;
        gap: 0px;
        position: absolute;
        background-color: #f9f9f9;
        top: 100%;
        right: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 0.5rem;
    }

    .navbar-links li,
    .navbar-profile-menu a {
        width: 100%;
    }

    .navbar-simple-link,
    .navbar-profile-items {
        margin-right: 0;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        display: block;
        white-space: nowrap;
    }

    .navbar-simple-link:hover,
    .navbar-profile-items:hover{
        background-color: #f1f1f1;
    }

    .navbar-menu-icon,
    .navbar-profile-icon{
        display: block;
    }

    .navbar-links.show,
    .navbar-profile-menu.show {
        display: flex;
    }

    .navbar-icons img,
    .navbar-profile-icon,
    .navbar-menu-icon img {
        width: 25px;
        height: 25px;
    }
}
