/* view_post_styles.css */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.main-content {
    display: flex;
    width: 100%;
    padding: 10px;
}

.left-section {
    flex: 0 1 20%;
    max-width: 20%;
    padding: 25px;
}

.right-section {
    flex: 1;
    max-width: 80%;
    text-align: left;
}

.separator {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px 40px;
}

.post h2 {
    font-size: 40px;
    /*width: 50%;*/
    margin-bottom: 20px;
}

.post-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-text .author {
    font-weight: bold;
    color: #333;
    margin-bottom: 2px;
}

.details-text .date {
    color: #999;
}


/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.edit-delete-buttons {
    display: flex;
    justify-content: center; /* Centers the buttons */
    gap: 10px; /* Adds space between buttons */
    padding: 0;
    margin: 40px 30px; /* Adjusted margin to add space above and below the buttons */
    list-style-type: none;
    font-size: 25px;
}

.edit-delete-buttons li {
    display: inline-block;
    margin-right: 10px;
}

.edit-delete-buttons li:last-child {
    margin-right: 0;
}

.edit-button,
.delete-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #45a049;
}

.tags {
    margin-top: 10px;
}


.tags ul {
    list-style-type: none;
    padding: 0;
}

.tags li {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px;
}

.section {
    margin-bottom: 20px;
}

.section label {
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    margin-top: 25px;
}

.section p, .section div {
    margin-bottom: 10px;
}


.delete-form {
    display: inline; /* To make the form inline with other elements */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}

.code-block-wrapper {
    overflow-x: auto; /* Ensure code blocks are scrollable horizontally */
    background: #f5f5f5; /* Optional: Add background color to code blocks */
    padding: 10px; /* Optional: Add padding to code blocks */
    border-radius: 5px; /* Optional: Add rounded corners to code blocks */
    margin-bottom: 20px; /* Optional: Add margin below code blocks */
}


/* Media queries for mobile */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Stack sections vertically on mobile */
        align-items: center; /* Center align the sections */
    }

    .left-section{
        display: none;
    }

    .right-section {
        width: 100%;
        padding: 10px; /* Reduced padding for smaller screens */
        max-width: 100%; /* Full width on mobile */
    }

    .separator {
        display: none; /* Hide separator on mobile */
    }

    .post {
        width: 100%; /* Full width on mobile */
        padding: 15px; /* Adjust padding for mobile */
        margin: 20px auto; /* Center the post on mobile */
    }

    .post h2 {
        font-size: 22px; /* Adjusted font size for mobile */
    }

    .details-text{
        font-size: 12px;
    }

    .profile-icon {
        width: 30px; /* Adjusted size for mobile */
        height: 30px; /* Adjusted size for mobile */
    }

    .edit-delete-buttons {
        flex-direction: row; /* Stack buttons vertically */
        align-items: center; /* Center align the buttons */
        gap: 10px; /* Adjust gap for mobile */
        margin: 20px 0; /* Adjusted margin for mobile */
        padding-bottom: 20px;
    }

    .edit-button, .delete-button {
        width: 100%; /* Full width buttons on mobile */
        padding: 10px; /* Adjust padding for mobile */
        font-size: 20px;
    }

    .button {
        width: 100%; /* Full width button on mobile */
        padding: 12px; /* Adjust padding for mobile */
    }

    .section label{
        font-size: 16px;
    }

    .section p, .section div {
        word-wrap: break-word; /* Ensure text wraps within the container */
        font-size: 13px;
    }

    .section img {
        max-width: 100%; /* Ensure images do not overflow the container */
        height: auto;
    }

    .code-block-wrapper {
        overflow-x: auto; /* Ensure code blocks are scrollable horizontally */
        max-width: 100%; /* Ensure code blocks do not overflow the container */
    }

    .tags li{
        font-size: 9px;
    }
}
