<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
    <link rel="stylesheet" th:href="@{/css/home_styles.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <ul>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/posts/new}" class="new-post-button">New Post</a>
        </li>
    </ul>
    <div class="post-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.getSlug()}}"
                   th:text="${post.title}">Title</a>
            </h2>
            <h5 th:text="'Written by ' + ${post.user.getFullName()}">Full name</h5>
            <h5 th:text="'Published on ' + ${post.getCreatedDate()}">Created Date</h5>
            <p th:text="${post.getContentFirstLine()}">Content</p>
            <br />
        </div>
    </div>
    <hr />
</div>

</body>
</html>
