<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: View Post</title>
    <link rel="stylesheet" th:href="@{/css/view_post_styles.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
    <link rel="stylesheet" th:href="@{/css/tags_styles.css}">
    <script th:src="@{/js/tags-filter.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="main-content">
        <div class="left-section">
            <div th:replace="~{fragments/tags_filter :: tagsFilter(tags=${tags})}"></div>
        </div>
        <div class="separator"></div>
        <div class="right-section">
            <div class="post">
                <h2><a th:href="@{'/posts/' + ${post.getSlug()}}" th:text="${post.title}">Title</a></h2>
                <h5 th:text="'Written by ' + ${post.user.getFullName()}">Full name</h5>
                <h5 th:text="'Created on ' + ${post.getCreatedDate()}">Created At</h5>
                <h5 th:text="'Modified on ' + ${post.getModifiedDate()}">Updated At</h5>
                <div class="tags">
                    <label>Tags:</label>
                    <ul>
                        <li th:each="tag : ${post.tags}" th:text="${tag.tagName}"></li>
                    </ul>
                </div>
                <p th:utext="${post.content}">Content</p>
            </div>
            <ul class="edit-delete-buttons" sec:authorize="isAuthenticated()">
                <li><a th:href="@{'/posts/' + ${post.getSlug()} + '/edit'}" class="edit-button">Edit</a></li>
                <li><a th:href="@{'/posts/' + ${post.getSlug()} + '/delete'}" class="delete-button">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeTagSelection();
    });
</script>
</body>
</html>
