<!--post.html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: View Post</title>
    <link rel="stylesheet" th:href="@{/css/view_post_styles.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
    <link rel="stylesheet" th:href="@{/css/tags_styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script th:src="@{/js/tags-filter.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="main-content">
        <div class="left-section">
            <div th:replace="~{fragments/tags_filter :: tagsFilter(tags=${tags})}"></div>
        </div>
        <div class="separator"></div>
        <div class="right-section">
            <div class="post">
                <h2 th:text="${post.title}">Title</h2>
                <div class="post-details">
                    <img src="/images/profileIcon.png" alt="Profile Picture" class="profile-icon">
                    <div class="details-text">
                        <span class="author" th:text="${post.user.getFullName()}">Author Name</span>
                        <span class="date" th:text="${post.getModifiedDate()}">Date</span>
                    </div>
                </div>
                <h3 th:if="${post.url != null}"><a th:href="${post.getUrl()}" class="button">Solve this problem</a></h3>
                <div class="tags" th:if="${post.tags != null}">
<!--                    <label>Tags:</label>-->
                    <ul>
                        <li th:each="tag : ${post.tags}" th:text="${tag.tagName}"></li>
                    </ul>
                </div>
                <div class="section" th:if="${post.problemStatement != null}">
                    <label>Problem Statement</label>
                    <p th:utext="${post.problemStatement}">Problem Statement</p>
                </div>
                <div class="section" th:if="${post.content != null}">
                    <label>Solution Approach</label>
                    <p th:utext="${post.content}">Content</p>
                </div>
                <div class="section" th:if="${post.codeBlock != null}">
                    <label>Code</label>
                    <div th:utext="${post.codeBlock}"></div>
                </div>
            </div>
            <ul class="edit-delete-buttons" sec:authorize="isAuthenticated()">
                <li><a th:href="@{'/posts/' + ${post.getSlug()} + '/edit'}" class="edit-button">Edit</a></li>
                <li><a th:href="@{'/posts/' + ${post.getSlug()} + '/delete'}" class="delete-button">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        Prism.highlightAll();
    });
</script>
</body>
</html>

