<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Edit Post</title>
    <link rel="stylesheet" th:href="@{/css/new_post_styles.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <script th:src="@{/js/ckeditor-setup.js}"></script>
    <script th:src="@{/js/tags-new-post.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="post-container">
        <form action="#"
              th:action="@{/posts/{slug}(slug=${post.slug})}"
              th:object="${post}"
              method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <h2>Edit Post</h2>
            <div>
                <label for="title">Title</label>
                <input id="title" type="text" th:field="*{title}" placeholder="Title">
            </div>
            <div>
                <label for="content">Content</label>
                <textarea id="content" th:field="*{content}" placeholder="Content"></textarea>
            </div>
            <div>
                <label>Tags</label>
                <div id="predefined-tags">
                    <span th:each="tag : ${tags}"
                          class="tag"
                          th:classappend="${post.tags.contains(tag) ? 'selected' : ''}"
                          th:text="${tag.tagName}"
                          th:data-tag-id="${tag.id}"></span>
                </div>
                <input id="tags" type="hidden" th:field="*{tags}" name="tags">
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeCKEditor('content');
    });
</script>
</body>
</html>
