<!--profile.html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Profile</title>
    <script src="/js/password-validation.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
    <link rel="stylesheet" th:href="@{/css/auth_styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>My Profile</h1>
    <form action="#" th:action="@{/profile}" th:object="${user}" method="POST" class="auth-form">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input id="fullname" type="text" th:field="*{fullName}" placeholder="Full Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" th:field="*{email}" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input id="companyName" type="text" th:field="*{companyName}" placeholder="Company Name">
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input id="dateOfBirth" type="date" th:field="*{dateOfBirth}" placeholder="Date of Birth">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Password">
        </div>
        <button type="submit" class="auth-button">Save Changes</button>
    </form>
</div>

</body>
</html>
