<!--forgot_password.html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Reset Password</title>
    <script th:src="@{/js/confirm_password_validation.js}"></script>
    <script src="/js/password-validation.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/navbar_styles.css}">
    <link rel="stylesheet" th:href="@{/css/auth_styles.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <form th:action="@{/reset-password}" method="POST" class="auth-form" id="reset-password">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" th:value="${email}"  readonly="readonly">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" required>
            <span id="passwordError" style="color:red;"></span>
        </div>
        <button type="submit" class="auth-button">Submit</button>
    </form>
</div>
</body>
</html>