<!--fragments : navbar.html-->
<!DOCTYPE html>
<div th:fragment="navbar">
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <a href="/" class="navbar-brand">Algo Blog</a>
            </div>
            <div class="navbar-right">
                <span th:if="${fullName!=null}" >Hi, <span th:text="${fullName}">Username</span></span>
                <div class="navbar-icons">
                    <div class="navbar-new-post" th:if="${showNewPostIcon}">
                        <a th:href="@{/posts/new}">
                            <img th:src="@{/images/newPostIcon.png}" alt="New Post Icon">
                        </a>
                    </div>
                    <div class="navbar-search">
                        <a th:href="@{/search}">
                            <img th:src="@{/images/searchIcon.png}" alt="Search Icon" >
                        </a>
                    </div>
                </div>
                <div class="menu-icon-wrapper" sec:authorize="!isAuthenticated()">
                    <div class="menu-icon" onclick="toggleMenu()">
                        <img src="/images/menuIcon.png" alt="Menu Icon">
                    </div>
                    <ul class="navbar-links" id="navbarLinks">
                        <li><a th:href="@{/contact-us}" class="simple-link">Contact Us</a></li>
                        <li><a th:href="@{/register}" class="simple-link">Register</a></li>
                        <li><a th:href="@{/login}" class="simple-link">Login</a></li>
                    </ul>
                </div>
                <div class="profile-section" sec:authorize="isAuthenticated()">
                    <div class="profile-wrapper">
                        <img th:src="@{/images/profileIcon.png}" alt="Profile Icon" class="profile-icon" onclick="toggleProfileMenu()">
                        <div class="profile-menu" id="profileMenu">
                            <a th:href="@{/profile}" class="profile-items">Profile</a>
                            <a th:href="@{/contact-us}" class="profile-items">Contact Us</a>
                            <a href="#" class="profile-items" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                            <form id = "logoutForm" action="#" th:action="@{/logout}" method="POST" style="display: none;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script>
        function toggleMenu() {
            var menu = document.getElementById("navbarLinks");
            menu.classList.toggle("show");
        }

        function toggleProfileMenu() {
            var menu = document.getElementById("profileMenu");
            menu.classList.toggle("show");
        }

        // Close the menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.profile-icon')) {
                var menus = document.getElementsByClassName("profile-menu");
                for (var i = 0; i < menus.length; i++) {
                    var openMenu = menus[i];
                    if (openMenu.classList.contains('show')) {
                        openMenu.classList.remove('show');
                    }
                }
            }

            if (!event.target.matches('.menu-icon img')) {
                var navbarLinks = document.getElementById("navbarLinks");
                if (navbarLinks.classList.contains('show')) {
                    navbarLinks.classList.remove('show');
                }
            }

        }
    </script>
</div>